<section class="footer-section background-color">
    <div class="container">
        <div class="footer-top pt-80 pb-80">
            <div class="row g-5 justify-content-between">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="widget-items">
                        <div class="footer-head">
                            <h4 class="header-content">
                                cocal-cola
                            </h4>
                        </div>
                        <div class="footer-content-area">
                            <p>
                                cocal-colacocal-colacocal-colacocal-cola
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="widget-items">
                        <div class="footer-head">
                            <h6 class="header-content">
                                Quick links
                            </h6>
                        </div>
                        <div class="footer-content-area">
                            <div class="quick-link">
                                <ul class="footer-content">
                                    <li><a href="index.php">Home</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6  wow fadeInUp" data-wow-delay="0.5s">
                    <div class="widget-items">
                        <div class="footer-head">
                            <h6 class="header-content">
                                Useful links
                            </h6>
                        </div>
                        <div class="footer-content-area">
                            <div class="quick-link">
                                <ul class="footer-content">
                                    <li><a href="#">Course</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="widget-items">
                        <div class="footer-head">
                            <h6 class="header-content">
                                Our Newslatter
                            </h6>
                        </div>
                        <div class="footer-content-area">
                            <p>
                                
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-area">
        <div class="container">
            <div class="footer-bottom">
                <p>Copyright &copy; 2023</p>
                
            </div>
        </div>
    </div>
    </section>