
<!--==== Scroll-Up Section Here ======= -->
<div class="scroll-up">
    <svg class="scroll-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<!--==== Scroll-Up Section End ======= -->

<!--==== Preloader Start Here ======= -->
<div class="boxes-bg">
    <div class="boxes">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!--==== Preloader End Here ======= -->

<!--==== Header Section Here ======= -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-menu">
                <a href="/index.php/Home/Index/index" class="logo">
                    <img src="__PUBLIC__/picture/logo.png" alt="img">
                </a>
            </div>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="main-menu">
                <li class="active">
                    <a href="/index.php/Home/Index/index">Home <i class="fas "></i></a>
                    
                </li>
                <li>
                    <a href="/index.php/Home/Index/StatementofOriginality">Statement of Originality</a>
                </li>
				<li>
                    <a href="/index.php/Home/Index/models">Models</a>
                </li>
                
                <li>
                    <a href="javascript::" onclick="contact()">contact</a>
                </li>
               
            </ul>
        </div>
    </div>
</header>
<!--==== Header Section End ======= -->

<script>

   function contact(){
   
     alert("E-mail:yz566@sussex.ac.uk");
   
   }

</script>